.body {
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.table {
    width: 100%;
}

@media (max-width: 1288px) {
    .body {
        padding-left: 24px;
        padding-right: 24px;

    }
}